In [ ]:
import numpy as np
import pandas as pd

# 学生とゼミのマッチング度を計算し、スコアの高い順にゼミを推薦する
def radar(sheet_name, index):
    zemidf = pd.read_excel('./公開用テストデータ.xlsx', sheet_name='ゼミ情報', index_col=0)
    studentdf = pd.read_excel('./公開用テストデータ.xlsx', sheet_name='学生架空データ')
    ratiodf = pd.read_excel('./公開用テストデータ.xlsx', sheet_name=sheet_name)

    # 学生データの取得
    student_name = studentdf.loc[index, '学生']
    answer = studentdf.iloc[index]

    # 計算用の初期化配列
    total_scores = []
    zemi_values =[]

    #  各ゼミに対してスコア計算
    for i in zemidf.index:

        total_score = 0
        answer_count = 0
        zemi_value_sum = 0

        # 興味のある項目をカウント（選択肢が3以上）
        for _, row in ratiodf.iterrows():
            question = row["question"]
            if answer[question] >= 3:
                answer_count += 1

        #ゼロ除算の防止とルート化
        if answer_count == 0:
            answer_count = 1
        answer_count = np.sqrt(answer_count)

        # 各質問項目に対して差分計算
        for _, row in ratiodf.iterrows():
            question = row["question"]
            ratio = row["ratio"]

            student_answer = answer[question]
            zemi_value = zemidf.loc[i, question]
            zemi_value_sum += zemi_value
            
            # ゼミの回答が2未満の場合は計算対象外
            if zemi_value < 2:
                continue

            # 差分と調整
            difference = ((student_answer - zemi_value) ** 2) / answer_count

            # 近似度が高い場合の補正
            if difference <= 1:
                difference *= 0.9

            # 完全一致のボーナス
            if student_answer == zemi_value:
                total_score += 5

            # 重み付けして合計スコアに加算
            total_score += difference * ratio

        # スコアを記録
        zemidf.loc[i, "score"] = total_score
        total_scores.append(total_score)

        
    # スコアの正規化（平均50、標準偏差10）
    scores = np.array(total_scores)
    zemis = np.array(zemi_values)

    if len(scores) > 1:
        mean_score = np.mean(scores)
        std_dev = np.std(scores)

        if std_dev != 0:
            z_scores = (scores - mean_score) / std_dev
            normalized_scores = 50 + (z_scores * 10)
            normalized_scores = np.clip(normalized_scores, 0, 100)
            
            # スコアが低い時の調整
            if all(normalized_scores) < 70:
                normalized_scores = normalized_scores + 20
        else:
            normalized_scores = np.full_like(scores, 50)
    else:
        normalized_scores = scores


    # 学生の回答とゼミの回答が全て一致していた場合のみ、正規化した点数を100点とする 
    for idx, (i, row) in enumerate(zemidf.iterrows()):
        all_match = all(
            question in answer and str(answer[question]) != "" and str(answer[question]) == str(row[question])
            for question in ratiodf["question"]
            if question in row
        )
        
        if all_match:
            normalized_scores[idx] = 100

    # 正規化スコアを保存
    zemidf["normalized_score"] = normalized_scores


    # 上位10件を表示
    top10 = zemidf.sort_values('normalized_score', ascending=False)
    columns_to_display = ["score", "normalized_score"]
    display(top10.loc[top10.index[:10], columns_to_display])
    print(student_name)


# ソートされたデータフレームを表示
for i in range(15):
    radar('重み付け', i)

           score  normalized_score
ゼミ情報
Iゼミ   -31.715476         92.168229
Cゼミ   -64.765321         78.573004
Bゼミ   -67.287302         77.535574
Jゼミ   -86.964700         69.441175
Dゼミ   -91.150923         67.719150
Hゼミ   -91.150923         67.719150
Eゼミ   -92.126001         67.318047
Fゼミ   -96.150923         65.662374
Aゼミ  -117.375224         56.931648
Gゼミ  -117.375224         56.931648

学生1

           score  normalized_score
ゼミ情報
Eゼミ   -28.174457         90.101831
Aゼミ   -58.262379         76.702357
Dゼミ   -64.076156         74.113227
Cゼミ   -64.237457         74.041392
Bゼミ   -72.126001         70.528277
Hゼミ   -73.628942         69.858951
Fゼミ   -78.101078         67.867313
Gゼミ   -81.150923         66.509083
Iゼミ   -94.486680         60.570084
Jゼミ  -118.878166         49.707484

学生2

      score  normalized_score
ゼミ情報
Cゼミ   -98.0         83.060833
Eゼミ  -103.0         81.981425
Dゼミ  -124.0         77.447913
Fゼミ  -129.0         76.368505
Hゼミ  -133.5         75.397038
Bゼミ  -158.0         70.107941
Jゼミ  -193.0         62.552087
Gゼミ  -202.0         60.609153
Iゼミ  -202.0         60.609153
Aゼミ  -242.5         51.865951

学生3

           score  normalized_score
ゼミ情報
Eゼミ    -3.284271         83.298886
Fゼミ   -11.870058         80.652308
Hゼミ   -26.012193         76.292979
Dゼミ   -31.415999         74.627250
Jゼミ   -35.507882         73.365922
Aゼミ   -37.932504         72.618530
Gゼミ   -54.296465         67.574321
Cゼミ   -72.074639         62.094179
Bゼミ   -73.438600         61.673737
Iゼミ  -118.440386         47.801887

学生4

          score  normalized_score
ゼミ情報
Fゼミ   -0.909903         84.106498
Dゼミ   -6.870058         81.583927
Aゼミ  -13.234019         78.890450
Gゼミ  -24.194174         74.251684
Jゼミ  -27.325902         72.926214
Eゼミ  -38.790368         68.074004
Iゼミ  -40.558135         67.325816
Bゼミ  -48.740115         63.862882
Hゼミ  -61.518290         58.454659
Cゼミ  -80.256620         50.523865

学生5

      score  normalized_score
ゼミ情報
Eゼミ   -97.0         87.575191
Cゼミ  -173.0         80.447579
Bゼミ  -200.0         77.915401
Dゼミ  -222.0         75.852145
Hゼミ  -272.0         71.162926
Fゼミ  -294.0         69.099670
Iゼミ  -345.0         64.316667
Gゼミ  -388.0         60.283939
Aゼミ  -419.0         57.376624
Jゼミ  -434.0         55.969858

学生6

          score  normalized_score
ゼミ情報
Bゼミ  -16.012193         90.289569
Dゼミ  -36.972348         77.339488
Hゼミ  -39.750523         75.623013
Gゼミ  -40.558135         75.124036
Cゼミ  -50.154329         69.195096
Jゼミ  -51.871843         68.133942
Eゼミ  -53.689863         67.010692
Fゼミ  -59.650018         63.328253
Iゼミ  -59.700270         63.297204
Aゼミ  -80.156115         50.658708

学生7

           score  normalized_score
ゼミ情報
Cゼミ   -24.701105         85.330319
Dゼミ   -41.031036         78.757979
Fゼミ   -46.031036         76.745619
Bゼミ   -51.443451         74.567273
Iゼミ   -51.443451         74.567273
Hゼミ   -65.424913         68.940126
Gゼミ   -67.163093         68.240558
Eゼミ   -71.443451         66.517833
Aゼミ   -97.167259         56.164721
Jゼミ  -112.066239         50.168299

学生8

           score  normalized_score
ゼミ情報
Bゼミ   -17.199379         89.654030
Gゼミ   -49.765321         79.632774
Dゼミ   -54.926622         78.044528
Eゼミ   -69.237457         73.640770
Iゼミ   -81.150923         69.974735
Cゼミ   -87.653865         67.973636
Hゼミ   -91.150923         66.897515
Aゼミ  -117.903088         58.665286
Fゼミ  -118.511603         58.478032
Jゼミ  -123.189001         57.038694

学生9

           score  normalized_score
ゼミ情報
Jゼミ    -6.870058         93.232486
Cゼミ   -59.650018         74.138599
Hゼミ   -60.053824         73.992517
Dゼミ   -62.831998         72.987473
Eゼミ   -67.428193         71.324736
Fゼミ   -70.610173         70.173610
Iゼミ   -82.934289         65.715189
Aゼミ   -89.651804         63.285035
Gゼミ   -92.429978         62.279991
Bゼミ  -118.440386         52.870364

学生10

           score  normalized_score
ゼミ情報
Cゼミ    -5.323620         87.097032
Hゼミ   -36.025204         77.930941
Eゼミ   -37.623524         77.453756
Iゼミ   -47.364138         74.545653
Jゼミ   -59.459001         70.934679
Dゼミ   -60.679356         70.570336
Fゼミ   -65.679356         69.077565
Bゼミ   -79.750504         64.876562
Gゼミ  -108.594383         56.265097
Aゼミ  -125.397743         51.248380

学生11

          score  normalized_score
ゼミ情報
Jゼミ  -37.245559         82.258375
Eゼミ  -38.843879         81.346977
Bゼミ  -40.733701         80.269358
Iゼミ  -46.143783         77.184408
Dゼミ  -59.459001         69.591772
Aゼミ  -62.947143         67.602755
Cゼミ  -64.459001         66.740660
Gゼミ  -66.262362         65.712344
Hゼミ  -76.262362         60.010120
Fゼミ  -95.074123         49.283231

学生12

          score  normalized_score
ゼミ情報
Eゼミ    0.303062         86.722486
Dゼミ  -23.682567         77.181563
Fゼミ  -28.682567         75.192680
Aゼミ  -30.113519         74.623480
Hゼミ  -32.356802         73.731155
Bゼミ  -34.094982         73.039748
Iゼミ  -51.443451         66.138932
Gゼミ  -55.424913         64.555199
Cゼミ  -66.443451         60.172282
Jゼミ  -95.429079         48.642476

学生13

      score  normalized_score
ゼミ情報
Cゼミ   -63.5         84.615359
Bゼミ   -86.5         80.203899
Iゼミ   -92.5         79.053083
Dゼミ   -93.0         78.957182
Hゼミ  -133.5         71.189176
Eゼミ  -143.5         69.271150
Jゼミ  -174.0         63.421171
Gゼミ  -183.0         61.694947
Aゼミ  -208.0         56.899882
Fゼミ  -219.5         54.694152

学生14

      score  normalized_score
ゼミ情報
Eゼミ   -22.0         89.874972
Dゼミ   -74.0         78.353249
Bゼミ   -77.0         77.688534
Hゼミ   -93.0         74.143389
Cゼミ   -98.0         73.035531
Fゼミ  -123.0         67.496241
Aゼミ  -136.5         64.505024
Jゼミ  -158.5         59.630449
Gゼミ  -167.5         57.636305
Iゼミ  -167.5         57.636305

学生15